@using ComingHereClient.Pages.Events
@using ComingHereClient.Services
@using ComingHereShared.DTO.EventDtos
@inject HttpClient Http
@inject LocalizationService Loc

<h5>Рекомендуем</h5>

<VipEvent Event="vipEvent" IsFading="isFading" />

@code {
    private EventDto? vipEvent;
    private bool isFading = false;
    private readonly TimeSpan refreshInterval = TimeSpan.FromSeconds(10);
    private Timer? timer;

    protected override async Task OnInitializedAsync()
    {
        Loc.LanguageChanged += OnLanguageChanged;
        await LoadVipEvent();

        timer = new Timer(async _ =>
        {
            isFading = true;
            await InvokeAsync(StateHasChanged);

            await Task.Delay(500);
            await LoadVipEvent();

            isFading = false;
            await InvokeAsync(StateHasChanged);
        }, null, refreshInterval, refreshInterval);
    }

    private async Task LoadVipEvent()
    {
        vipEvent = await Http.GetFromJsonAsync<EventDto>($"api/events/vip-random?culture={Loc.CurrentCulture}");
    }

    private async Task OnLanguageChanged()
    {
        await LoadVipEvent();
        StateHasChanged();
    }

    public void Dispose()
    {
        Loc.LanguageChanged -= OnLanguageChanged;
        timer?.Dispose();
    }
}