.map-container-allevent {
    height: 200px;
    min-height: 200px;
    width: 100%;
    background-color: #eee;
}

.img-container-allevent {
    height: 200px;
    object-fit: cover;
    border-radius: 0.25rem;
}

.event-title {
    text-align: center;
    font-size: 2rem;
}

.review-container {
    border-left: 3px solid #ccc;
    padding-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border-radius: 4px;
}

    .review-container .review-container {
        background: #f0f0f0;
        margin-left: 15px;
        padding-left: 10px;
        border-color: #bbb;
    }

/*test*/
.ch-filter-container .ch-select {
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
    border: 1px solid var(--input-border-color);
}

.ch-filter-container .ch-date-input {
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    padding: 0.5rem;
}

.ch-radio-label {
    color: var(--input-text-color);
    padding: 0.25rem;
}

[data-theme="dark"] .ch-date-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}