.map-container {
    padding: 25px;
    background-color: var(--background-home-map-container);
    border: 1px solid #aaa;
    border-radius: 6px;
}

.map-legend {
    top: 10px;
    right: 10px;
    background-color: var(--background-home-map-legend);
    padding: 10px 14px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 0.95em;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    display: flex;
    gap: 12px;
    align-items: center;
}

    .map-legend div {
        display: flex;
        align-items: center;
        gap: 6px;
        white-space: nowrap;
        width: 300px;
    }

.legend-marker {
    width: 25px;
    height: 41px;
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 20px;
}

#all-events-map {
    height: 500px;
    width: 100%;
    position: relative;
    background-color: var(--general-map-overlay-color);
    z-index: 10;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

    #all-events-map::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--general-map-overlay-color);
        pointer-events: none;
        z-index: 9999;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

.card-text.description-single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
