:root {
    /*Header*/
    --header-bg: #002244;
    --header-text: #ffffff;
    --header-logo-image: url('/pic/Logo_v1_light.png');
    --header-center-bg-image: url('/pic/HeaderBackgroundLight.png');
    /*MainArea*/
    --main-bg-image: url('/pic/background_map_light.png');
    --main-sidebar-container-bg: #003366;
    --main-sidebar-wrapper-bg: #002244;
    --main-sidebar-text: #cceeff;
    --main-sidebar-text-hover: #cc8833;
    /*HomePage*/
    --home-text: #000000;
    --home-container-bg: #ffffff;
    /*Maps*/
    --home-map-container-bg: #e8e7e7;
    --home-map-overlay: transparent;
    --home-map-markers-container-bg: #dbe1dd;
    /*VipContainer*/
    --vip-wrapper-bg: #002244;
    --vip-bg: #97bfd3;
    --vip-text: #262626;
    --vip-border: #002244;
    /*Filters*/
    --event-filter-field-bg: #ffffff;
    --event-filter-field-text: #000000;
    --event-filter-field-border: #000000;
}

[data-theme='dark'] {
    /*Header*/
    --header-bg: #121212;
    --header-text: #f0f0f0;
    --header-logo-image: url('/pic/Logo_v1_dark.png');
    --header-center-bg-image: url('/pic/HeaderBackgroundDark.png');
    /*MainArea*/
    --main-bg-image: url('/pic/background_map_dark.png');
    --main-sidebar-container-bg: #393953;
    --main-sidebar-wrapper-bg: #000a1f;
    --main-sidebar-text: #a0dffe;
    --main-sidebar-text-hover: #009bcd;
    /*HomePage*/
    --home-text: #191919;
    --home-container-bg: #ababab;
    /*Maps*/
    --home-map-container-bg: #9c9a9a;
    --home-map-overlay: rgba(50, 50, 50, 0.3);
    --home-map-markers-container-bg: #828181;
    /*VipContainer*/
    --vip-wrapper-bg: #000a1f;
    --vip-bg: #262626;
    --vip-text: #f0f0f0;
    --vip-border: #009bcd;
    /*Filters*/
    --event-filter-field-bg: #000000;
    --event-filter-field-text: #d1d1d1;
    --event-filter-field-border: #009bcd;
}
